<nav class="navbar navbar-default navbar-fixed-top primary-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary-alternative" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
        <span class="sr-only">Menú</span>
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <a class="navbar-brand prevent-default primary-link" href="#">Brew Point</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-bar">
      <% if current_user %>
        <% if current_user.company? %>

        <% else %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to new_company_path, class: "primary-link" do%>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Fabrica
                <% end %>
              </li>
            </ul>
        <% end %>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <%= link_to current_user.first_name + " " + current_user.last_name, "#", class: "primary-link" %>
          </li>
          <li><%= link_to "Cerrar Sesión", logout_path, method: "delete", class: "primary-link" %></li>
        </ul>
       <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Iniciar Sesión", login_path, class: "primary-link" %></li>
          </ul>
        <% end %>
    </div>
  </div>
</nav>