html, body {
    height: 100%;
}

.contenedor {
    width: 100%;
    height:100%;
    position: relative;
}

.card {
    background-color: #FFFFFF;
    border: 1px #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    overflow: auto;
    margin: 5px 0px;
}

@media (max-width: 768px) {
    .right-holder {
        position: absolute;
        bottom:0px;
        right:0px;
    }
    
}

@media (min-width: 768px) {
    .right-holder {
        float:right;
        position: relative;
    }
}


.circular-link {
    background-color: #00695C;
    color: #EEEEEE;
    border: 1px #00695C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    line-height: 50px;
}
.circular-link:hover{
    color: #EEEEEE;
}

.card .input-text {
    margin: 10px;
}

.card a {
    color: #003D33;
}

.field_with_errors > input[type="text"] {
    border-bottom: 1px solid red !important;
}

.error-message {
    font-style: italic;
    font-size: smaller;
}

.card .input-text input[type="text"]{
     border: none;
     border-bottom: 1px solid grey;
     width: 100%;
}


.card .input-text > input[type="email"]{
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}

.card .input-text > input[type="tel"]{
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}

input:focus{
    outline: none;
}

.card .input-text > input[type="password"]{
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}

.card input[type="submit"] {
    float: left;
    background-color: #00695C;
    padding: 5px 10px;
    border: none;
    color: #EEEEEE;
}

.cancel {
    float: right;
    background-color: #cecece;
    padding: 5px 10px;
    border: none;
}

.cancel > a {
    text-decoration: none;
    color: #00695C;
}

.buttons {
    margin: 15px 10px;
}