<div class="contenedor">
<div class="right-holder">
  <%= link_to new_company_supplier_path(@company), :class => "circular-link" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</div>

  <div class="col-md-offset-3 col-md-6">
    <div class="card">
      <% @suppliers.each do |s| %>
          <div class="card-list with-options" id="<%= s.id %>">
            <%= render partial: 'supplier', locals: {s: s} %>
          </div>
      <% end %>
    </div>
  </div>


</div>