<div class="contenedor">
<div class="right-holder">
  <%= link_to new_company_supplier_path(@company), :class => "circular-link" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</div>

<% @suppliers.each do |s| %>
      <div class="col-md-4" id="<%= s.id %>">
        <%=	 render partial: 'supplier', locals: {supplier: s} %>
      </div>
<% end %>
</div>